*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}





.nav{
    width: 100%;
    background: rgba(0,0,0,0.2);
    padding: 10px;
  
    
    
    

}

.nav ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 5px;
  
  
}
.nav ul a{
    color: antiquewhite;
    text-decoration: none;
}

.nav h3{
    display: flex;
    float: left;
    font-size: 13px;
    color: rgba(168, 35, 35, 0.889);
    margin: 5px;
    border: 1px solid red;
    background-color: rgb(231, 235, 36);
    padding :3px;
   margin-top: 40px;
    height: 3vh;
    width: 15vh;
    cursor: pointer;
}

.nav div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav h4{
    color: rgb(40, 7, 82);
}

.nav button{
    background: darkolivegreen;
    color: rgb(217, 242, 242);
    border: none;
    padding: 2px;
    cursor: pointer;
    border-radius: 3px;
}
